jobs:
  sync-space:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        
      - name: Sync to Hugging Face Space
        uses: nateraw/huggingface-sync-action@v1 # Atualizado para v1
        with:
          huggingface_repo_id: willp01/projeto001
          hf_token: ${{ secrets.HF }}
